@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@400;500;700&display=swap');

*{
	margin: 0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	font-family: 'Rubik', sans-serif;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.navColor{
	background-color: green;
}

.logo-text{
	font-size:26px;
}

.logout-link{
	background: none;
  border: none;
  padding: 0;
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

.textNone{
	text-decoration: none;
}

.search-btn-color{
	background-color:#284b63;
}

.logo-whats-good{
	filter: invert(100%);
	margin-right: 5px
}
.visible{
	color:white;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}


.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* SHOW ITEM JSP STAR RATING */
.rating {
  display: inline-block;
}

.star {
  font-size: 24px;
  color: #cccccc;
  cursor: pointer;
}

.star:hover,
.star:hover ~ .star {
  color: #ffcc00;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked ~ label {
  color: #ffcc00;
}

/* Star Average business SHOW */
.starAverage {
  color: gold; /* Set the color of the filled star */
}
/* MAP BUISNESS SHOW */
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 400px;
  width:400px;
  margin:0 auto;
}


