@charset "ISO-8859-1";

@charset "ISO-8859-1";

body {
  background-color: grey;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.betterBlue{
	background-color: #28262C;
}

.textNone{
	text-decoration: none;
}


.backgroundColor{
	background-color: grey;
}

.visible{
	
	color:white;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/* SHOW ITEM JSP STAR RATING */
.rating {
  display: inline-block;
}

.star {
  font-size: 24px;
  color: #cccccc;
  cursor: pointer;
}

.star:hover,
.star:hover ~ .star {
  color: #ffcc00;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked ~ label {
  color: #ffcc00;
}

/* Star Average business SHOW */
.starAverage {
  color: gold; /* Set the color of the filled star */
}
/* MAP BUISNESS SHOW */
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 400px;
  width:400px;
  margin:0 auto;
}


